@import url(//fonts.googleapis.com/css?family=Wallpoet);
.odometer.odometer-auto-theme,
.odometer.odometer-theme-digital {
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    position: relative;
    *display: inline
}

.odometer.odometer-auto-theme .odometer-digit,
.odometer.odometer-theme-digital .odometer-digit {
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    position: relative;
    *display: inline
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer,
.odometer.odometer-theme-digital .odometer-digit .odometer-digit-spacer {
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    visibility: hidden;
    *display: inline
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner,
.odometer.odometer-theme-digital .odometer-digit .odometer-digit-inner {
    text-align: left;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden
}

.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon,
.odometer.odometer-theme-digital .odometer-digit .odometer-ribbon {
    display: block
}

.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner,
.odometer.odometer-theme-digital .odometer-digit .odometer-ribbon-inner {
    display: block;
    -webkit-backface-visibility: hidden
}

.odometer.odometer-auto-theme .odometer-digit .odometer-value,
.odometer.odometer-theme-digital .odometer-digit .odometer-value {
    display: block;
    -webkit-transform: translateZ(0)
}

.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value,
.odometer.odometer-theme-digital .odometer-digit .odometer-value.odometer-last-value {
    position: absolute
}

.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner,
.odometer.odometer-theme-digital.odometer-animating-up .odometer-ribbon-inner {
    -webkit-transition: -webkit-transform 2s;
    transition: -webkit-transform 2s;
    transition: transform 2s;
    transition: transform 2s, -webkit-transform 2s
}

.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner,
.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner,
.odometer.odometer-theme-digital.odometer-animating-down .odometer-ribbon-inner,
.odometer.odometer-theme-digital.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
}

.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner,
.odometer.odometer-theme-digital.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
    -webkit-transition: -webkit-transform 2s;
    transition: -webkit-transform 2s;
    transition: transform 2s;
    transition: transform 2s, -webkit-transform 2s;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.odometer.odometer-auto-theme,
.odometer.odometer-theme-digital {
    background-image: radial-gradient(rgba(139, 245, 165, .4), #000);
    background-color: #000;
    font-family: Wallpoet, monospace;
    padding: 0 .2em;
    line-height: 1.1em;
    color: #8bf5a5
}

.odometer.odometer-auto-theme .odometer-digit+.odometer-digit,
.odometer.odometer-theme-digital .odometer-digit+.odometer-digit {
    margin-left: .1em
}

.marquee[data-v-84f0656e] {
    height: 1.5em;
    overflow: hidden;
    position: relative
}

.marquee span[data-v-84f0656e] {
    color: #ffdf00;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-animation: marquee-data-v-84f0656e 15s linear infinite;
    animation: marquee-data-v-84f0656e 15s linear infinite;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

@-webkit-keyframes marquee-data-v-84f0656e {
    0% {
        -webkit-transform: translateX(100%)
    }
    to {
        -webkit-transform: translateX(-100%)
    }
}

@keyframes marquee-data-v-84f0656e {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
}

.fa-clone[data-v-fe92f7d6] {
    color: hsla(0, 0%, 100%, .25);
    margin-left: 5px
}

.name[data-v-fe92f7d6] {
    margin: 0 5px
}

.copy[data-v-fe92f7d6] {
    cursor: pointer;
    border: 1px dashed;
    padding: 2px 5px
}

.copied[data-v-fe92f7d6] {
    color: #63d471;
    margin-left: .5rem
}

table[data-v-ad55b826] {
    text-align: center
}

table .product p[data-v-ad55b826] {
    font-weight: 700
}

table td[data-v-ad55b826] {
    vertical-align: middle;
    padding: .25rem .75rem
}

table .state-error[data-v-98363e66],
table .state-rejected[data-v-98363e66] {
    color: red
}

table .state-approved[data-v-98363e66] {
    color: #179924
}

table .state-pending[data-v-98363e66] {
    color: #e8d400
}

table .state-deleted[data-v-98363e66] {
    color: #818486
}

.carousel-control-next[data-v-ff298276],
.carousel-control-prev[data-v-ff298276] {
    width: 5%
}

.carousel-indicators[data-v-ff298276] {
    margin: 0
}

.card[data-v-ff298276] {
    background-color: transparent;
    text-align: center
}

.card[data-v-ff298276]:hover {
    background: -webkit-linear-gradient(45deg, #996515, #ffdf00, #996515);
    -webkit-text-fill-color: #724c04
}

.modal-footer[data-v-466cbb8e],
.modal-footer[data-v-ff298276] {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.credential p[data-v-466cbb8e] {
    font-family: Courier New, Courier, monospace
}

.credential p span[data-v-466cbb8e] {
    padding: 0
}

#gallery-multi-item .carousel-item img {
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    -webkit-transform: scale(1);
    transform: scale(1)
}

#gallery-multi-item .carousel-item img:hover {
    -webkit-transform: scale(1.025);
    transform: scale(1.025)
}

@media (min-width:768px) {
    .carousel-multi-item-2 .col-md-3 {
        float: left;
        width: 25%;
        max-width: 100%
    }
}

.card img[data-v-3b88102a] {
    max-height: 250px
}

.card-columns[data-v-3b88102a] {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4
}

.card-body[data-v-3b88102a] {
    padding: .5rem
}

.card-footer[data-v-3b88102a] {
    padding: .5rem 1.25rem
}

.card-footer small[data-v-3b88102a] {
    vertical-align: middle;
    line-height: 2rem
}

.lobby {
    position: fixed;
    left: -5px;
    background: #0e0e10;
    top: 50%;
    padding: 10px;
    border: 2px solid #eea407;
    border-left: 0 solid transparent;
    border-radius: 4px 0 0 4px;
    z-index: 10
}

.lobby .title>img {
    display: inline-block
}

.lobby .title>div,
.lobby .title>p {
    display: none
}

.lobby:hover .title>p {
    display: inline;
    margin: 0 1rem
}

.lobby:hover .title>div {
    display: block
}

.lobby ul {
    list-style: none;
    padding: 0;
    width: 0;
    display: none
}

.lobby:hover ul {
    display: block
}

.lobby .title>p>img,
.lobby:hover ul li a {
    margin-left: 1rem
}

.lobby ul li a {
    display: inline-block
}

.lobby ul li a p {
    margin-right: 20px
}

.lobby ul li:first-child {
    margin-top: 0
}

.lobby ul li:last-child {
    margin-bottom: 0
}

.lobby ul li {
    margin-bottom: 10px
}

.sidebar_social {
    position: fixed;
    right: -5px;
    background: #0e0e10;
    bottom: 10%;
    padding: 10px;
    border: 2px solid whitesmoke;
    border-right: 0 solid transparent;
    border-radius: 4px 0 0 4px;
    z-index: 10;
    transition: .3s;
}

.sidebar_social .title {
    display: none
}

.sidebar_social:hover .title {
    display: inline
}

.sidebar_social:hover .title p {
    padding: .5rem
}

.sidebar_social:hover {
    width: 200px
}

.sidebar_social ul {
    list-style: none;
    padding: 0;
    width: 40px
}

.sidebar_social ul li img {
    vertical-align: top
}

.sidebar_social ul li a {
    background-size: 40px;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    display: inline-block;
    position: absolute
}

.sidebar_social ul li a p {
    margin-left: 20px
}

.sidebar_social ul li:first-child {
    margin-top: 10px
}

.sidebar_social ul li:last-child {
    margin-bottom: 0
}

.sidebar_social ul li {
    height: 40px!important;
    margin-bottom: 10px
}