td, th {
    white-space: nowrap;
}

.rotate {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
.dropdown-lang .dropdown-menu {
    min-width: 8rem !important;
}
.dropdown-lang .dropdown-toggle {
    font-size: 15px;
}
.dropdown-lang .dropdown-toggle:after {
    border: none !important;
}
.item-list .content img {
    width: 34px;
}
.control-label {
    color: #f6f6f6;
    font-size: 14px;
    font-weight: bold;
}

#ajax-loading{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1100;
}
#bonus_splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* height: calc(100vh - 104px); */
    height: 100vh;
    background-color: #fbfbf3;
    z-index: 1100;
}
#bonus_splash img {
  width: 360px;
  height: 275px;
  display: block;
  margin: 45% auto 20px;
}

.my-balance .balance{
    font-size: 23px;
}
.my-balance .chips{
    font-size: 18px;
}

.form-group.row .control-label {
    font-size: 13px;
    line-height: 2.1;
}

.custom-uploader {
    width: 100%;
    color: #363b4d;
    background: #d5d5d5;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 10px;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    border: 2px solid #c9c9c9;
    border-radius: 5px;
}

.form-group .inline-value {
    color: #f6f6f6;
    font-weight: 600;
    font-size: 16px;
}

.btn-table {
    color: #007bff;
    font-size: 18px;
}

.setting-page .content-icon i {
    font-size: 20px;
    color: #fff;
    width: 26px;
    height: 26px;
    line-height: 26px;
    border-radius: 3px;
    text-align: center;
    background: #e74c3c;
    vertical-align: middle;
}









.footer-nav {
    background: #e74c3c;
    position: fixed;
    width: 100%;
    height: 55px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.footer-nav ul {
    width: 100%;
    clear: both;
}
.footer-nav ul>li {
    width: 25%;
    height: 100%;
    display: block;
    float: left;
}
.footer-nav ul>li a {
    text-decoration: none;
    text-align: center;
    display: block;
    height: 100%;
    padding-top: 6px;
}
.footer-nav ul>li a.active {
    border-top: solid 4px #f6f6f6;
    padding-top: 2px;
}
.footer-nav .footer-icon {
    color: whitesmoke;
    font-size: 26px;
}
.footer-nav .footer-link-text {
    color: whitesmoke;
    margin-top: 0px;
    font-size: 14px;   
    line-height: 1.2; 
}

/* ==============
  Waves Effect
===================*/
/*!
 * Waves v0.6.0
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */
 .waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  
  .waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    -webkit-transition-property: -webkit-transform, opacity;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transform: scale(0);
    transform: scale(0);
    pointer-events: none;
  }
  
  .waves-effect.waves-light .waves-ripple {
    background-color: rgba(255, 255, 255, 0.45);
  }
  
  .waves-effect.waves-red .waves-ripple {
    background-color: rgba(244, 67, 54, 0.7);
  }
  
  .waves-effect.waves-yellow .waves-ripple {
    background-color: rgba(255, 235, 59, 0.7);
  }
  
  .waves-effect.waves-orange .waves-ripple {
    background-color: rgba(255, 152, 0, 0.7);
  }
  
  .waves-effect.waves-purple .waves-ripple {
    background-color: rgba(156, 39, 176, 0.7);
  }
  
  .waves-effect.waves-green .waves-ripple {
    background-color: rgba(76, 175, 80, 0.7);
  }
  
  .waves-effect.waves-teal .waves-ripple {
    background-color: rgba(0, 150, 136, 0.7);
  }
  
  .waves-notransition {
    -webkit-transition: none !important;
    transition: none !important;
  }
  
  .waves-circle {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%;
  }
  
  .waves-input-wrapper {
    border-radius: 0.2em;
    vertical-align: bottom;
  }
  
  .waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .waves-block {
    display: block;
  }

  @-webkit-keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
  }
  .blink{
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
  }